@import "fonts";
@import "libs";
@import "base";
@import "vars";

.container {
  //width: 70%;
  margin: 0 auto;
  width: 968px;
}

.small-header {
  background-color: #472424;
  .container {
    display: flex;
    justify-content: space-between;
    .small-menu {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      li {
        font-size: 13px;
        margin: 0 40px 0 0;
        list-style-type: none;
        padding: 0;
        a {
          text-decoration: none;
          color: #ffffff;
          &:hover {
            color: #ff7373;
          }
        }
      }
    }
    .client-info {
      color: #ffffff;
      display: flex;
      align-self: center;
      .basket {
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        margin-right: 21px;
        img {
          margin-right: 10px;
        }
        span {
          color: #ffffff;
        }
        small {
          color: #dcc5b8;
          font-size: 13px;
        }
      }
      .registration {
        a {
          text-decoration: none;
          color: #ffffff;
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
          font-size: 13px;
          padding: 19px;
          margin: 0;
          &:hover {
            background-color: #ff7373;
          }
        }
      }
    }
  }
}

header {
  z-index: 55;
  position: absolute;
  width: 100%;
}

.big-header {
  background-color: #623232;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    .main-menu {
      ul {
        display: flex;
        list-style-type: none;
        overflow: hidden;
        li {
          padding: 26px 10px 25px 15px;
          text-align: center;
          text-decoration: none;
          border-bottom: 4px solid transparent;
          transition: all 0.2s;
          &:hover {
            border-bottom: 4px solid #ff7373;
          }
          a {
            color: #ffffff;
            text-decoration: none;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.banner {
  background-color: #f0efee;
  overflow: hidden;
  display: flex;
  //margin-top: 100px;
  height: 590px;
  img {
    height: 570px;
    width: 755px;
    margin-left: -115px;
    margin-top: 55px;
    z-index: 99;
    position: relative;
  }
  .description {
    //margin-top: 210px;
    //margin-left: 60px;
    margin: 210px 0 0 60px;
    .price {
      color: #623232;
      font-size: 30px;
      font-weight: 400;
    }
    .name {
      color: #623232;
      font-family: "Trueno Ult Blk";
      font-size: 70px;
      font-weight: 400;
    }
    .variants {
      color: #ff7373;
      font-family: "Trueno Ult Blk";
      font-size: 50px;
      font-weight: 400;
    }
    p {
      color: #8a8784;
      margin-bottom: 50px;
    }
    a {
      background-color: #ff7373;
      color: #ffffff;
      font-family: "Trueno Bd";
      text-transform: uppercase;
      padding: 16px 47px 16px 47px;
      text-decoration: none;
      &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.banners {
  margin-top: 50px;
  display: flex;
  .banners__kyrie {
    margin-left: -11px;
    img {
      width: 474px;
      height: 474px;
    }
  }
  .banners__others {
    margin-left: 31px;
    margin-top: -18px;
    .arrivals {
      img {
        width: 474px;
      }
    }
    .athletes {
      margin-left: 9px;

      img {
        width: 220px;
        margin-top: 30px;
      }
    }
    .premium {
      margin-left: 20px;
      img {
        width: 220px;
      }
    }
  }
}

.products {
  margin-top: 100px;
  .nav-tab-list {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    .nav-tab-list__item {
      display: inline-block;
      &.active .nav-tab-list__link {
        color: #623232;
        font-family: "Trueno Bd";
      }
      .nav-tab-list__link {
        text-transform: uppercase;
        text-decoration: none;
        color: #bdb9b5;
        font-size: 30px;
        font-weight: 400;
        margin-left: 30px;
        &:hover {
          color: #623232;
          font-family: "Trueno Bd";
        }
      }
    }
  }
  .box-tab-cont {
    .hide {
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 0;
      overflow: hidden;
      z-index: -1;
      opacity: 0;
    }
    .tab-cont {
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s;
      &.hide {
        opacity: 0;
      }
      .product-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        .product-list__item {
          width: 219px;
          position: relative;
          margin-right: 30px;
          margin-bottom: 30px;
          &:hover {
            opacity: 0.6;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            transition: all 0.2s;
          }
          &:nth-child(4),
          &:nth-child(8) {
            margin-right: 0;
          }
          .priceB {
            margin-left: 15px;
            color: #ff7373;
            font-family: "Trueno Lt";
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            margin-top: 20px;
            position: absolute;
            z-index: 99;
            small {
              color: #8a8784;
              font-size: 16px;
              text-decoration: line-through;
            }
            span {
              color: #8a8784;
            }
          }
          .sale {
            width: 61px;
            height: 28px;
            text-align: center;
            background-color: #ff7373;
            color: #ffffff;
            font-family: "Trueno Bd";
            line-height: 26px;
            margin-top: 20px;
            position: absolute;
            z-index: 99;
            right: 0;
          }
          .product-list__link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            border: 1px solid #e0dfde;
          }
          .product-list__img {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            img {
              display: block;
              opacity: 1;
              -webkit-transition: opacity 0.4s;
              -o-transition: opacity 0.4s;
              transition: opacity 0.4s;
              width: 190px;
              height: 190px;
              margin-top: 20px;
            }
            .product-list__preview {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 98px;
              height: 98px;
              border-radius: 50%;
              display: none;
              z-index: 3;
            }
          }
          .product-list__footer {
            padding: 20px 15px;
            .product-list__title {
              text-transform: uppercase;
              margin-bottom: 10px;
              font-family: "Trueno Bd";
              color: #8a8784;
            }
            .product-list__category {
              color: #8a8784;
              margin-bottom: 10px;
            }
            .product-list__id {
              color: #bdb9b5;
              font-size: 13px;
            }

          }
        }
      }
    }
  }
}

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}





.testimonials {
  margin-top: 100px;
  position: relative;
  height: 570px;
  background: url("../img/glenn-carstens-peters-203007.jpg.png") bottom / cover;
}

.mask {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: #472424;
  opacity: 0.95;
}

#comments-slider {
  margin: 0 auto;
  width: 100%;
  padding-top: 9em;
}

.quote {
  background: #3E3831;
  padding: 15px 20px 5px 15px;
  color: #ffffff;
  margin: 0 5px 30px 5px;
}

.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #3E3831 transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.persona {
  margin-left: 30px;
  margin-bottom: 30px;
}

.persona .photo {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.persona p {
  position: relative;
  top: 5px;
  color: #ffffff;
}

.persona p:nth-child(3) {
  font-size: 12px;
}

h1 {
  text-align: center;
  color: #623232;
  font-family: "Trueno Bd";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news-block {

  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.news-mask img {
  width: 300px;
  height: 300px;
  opacity: 0.4;
}

.news-mask {
  position: relative;
  background-color: #472424;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #ffffff;
}

.text h5 {
  font-family: "Trueno Bd";
  margin: 0;
}

.text p {
  margin: 5px 0 5px 0;
}

.text span {
  display: inline-block;
  color: #ff7373;
  font-size: 13px;
  padding: 5px;
  vertical-align: bottom;

}

.text img {
  width: 20px;
  height: 20px;
  opacity: 1;
}

// menuToggle

//.menuToggle {
//  color: #fff;
//  cursor: pointer;
//  display: none;
//  width: 35px;
//  height: 25px;
//  position: relative;
//  span {
//    display: block;
//    position: absolute;
//    height: 4px;
//    width: 100%;
//    background: #34404b;
//    border-radius: 2px;
//    opacity: 1;
//    left: 0;
//    transform: rotate(0deg);
//    transition: .25s ease-in-out;
//    margin-top: 10px;
//  }
//  span:nth-child(1) {
//    top: 0;
//  }
//  span:nth-child(2), .menu-icon span:nth-child(3) {
//    top: 10px;
//  }
//  span:nth-child(4) {
//    top: 20px;
//  }
//}

//.menu {
//  list-style-type: none;
//  padding: 0;
//  display: none;
//  li a {
//    display: inline-block;
//    padding: 10px 15px;
//    text-decoration: none;
//  }
//}

@import "media";
