@import "fonts";
@import "libs";
@import "base";
@import "vars";

.container {
  //width: 70%;
  margin: 0 auto;
  width: 968px;
}

.small-header {
  background-color: #472424;
  .container {
    display: flex;
    justify-content: space-between;
    .small-menu {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      li {
        font-size: 13px;
        margin: 0 40px 0 0;
        list-style-type: none;
        padding: 0;
        a {
          text-decoration: none;
          color: #ffffff;
          &:hover {
            color: #ff7373;
          }
        }
      }
    }
    .client-info {
      color: #ffffff;
      display: flex;
      align-self: center;
      .basket {
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        margin-right: 21px;
        img {
          margin-right: 10px;
        }
        span {
          color: #ffffff;
        }
        small {
          color: #dcc5b8;
          font-size: 13px;
        }
      }
      .registration {
        a {
          text-decoration: none;
          color: #ffffff;
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
          font-size: 13px;
          padding: 19px;
          margin: 0;
          &:hover {
            background-color: #ff7373;
          }
        }
      }
    }
  }
}
header {
  z-index: 55;
  position: absolute;
  width: 100%;
}
.big-header {
  background-color: #623232;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    .main-menu {
      ul {
        display: flex;
        list-style-type: none;
        overflow: hidden;
        li {
          padding: 26px 10px 25px 15px;
          text-align: center;
          text-decoration: none;
          border-bottom: 4px solid transparent;
          transition: all 0.2s;
          &:hover {
            border-bottom: 4px solid #ff7373;
          }
          a {
            color: #ffffff;
            text-decoration: none;
            vertical-align: middle;
          }
        }
      }
    }
  }
}


.banner {
  background-color: #f0efee;
  overflow: hidden;
  display: flex;
  //margin-top: 100px;
  height: 590px;
  img {
    height: 570px;
    width: 755px;
    margin-left: -115px;
    margin-top: 55px;
    z-index: 99;
    position: relative;
  }
  .description {
    //margin-top: 210px;
    //margin-left: 60px;
    margin: 210px 0 0 60px;
    .price {
      color: #623232;
      font-size: 30px;
      font-weight: 400;
    }
    .name {
      color: #623232;
      font-family: "Trueno Ult Blk";
      font-size: 70px;
      font-weight: 400;
    }
    .variants {
      color: #ff7373;
      font-family: "Trueno Ult Blk";
      font-size: 50px;
      font-weight: 400;
    }
    p {
      color: #8a8784;
      margin-bottom: 50px;
    }
    a {
      background-color: #ff7373;
      color: #ffffff;
      font-family: "Trueno Bd";
      text-transform: uppercase;
      padding: 16px 47px 16px 47px;
      text-decoration: none;
    }
  }
}

.banners {
  margin-top: 50px;
  display: flex;
  .banners__kyrie {
    img {
      width: 474px;
      height: 474px;
    }
  }
  .banners__others {
    margin-left: 20px;
    margin-top: -18px;
    .arrivals {
      img {
        width: 474px;
      }
    }
    .athletes {
      margin-left: 9px;

      img {
        width: 220px;
        margin-top: 30px;
      }
    }
    .premium {
      margin-left: 20px;
      img {
        width: 220px;
      }
    }
  }
}







// menuToggle

//.menuToggle {
//  color: #fff;
//  cursor: pointer;
//  display: none;
//  width: 35px;
//  height: 25px;
//  position: relative;
//  span {
//    display: block;
//    position: absolute;
//    height: 4px;
//    width: 100%;
//    background: #34404b;
//    border-radius: 2px;
//    opacity: 1;
//    left: 0;
//    transform: rotate(0deg);
//    transition: .25s ease-in-out;
//    margin-top: 10px;
//  }
//  span:nth-child(1) {
//    top: 0;
//  }
//  span:nth-child(2), .menu-icon span:nth-child(3) {
//    top: 10px;
//  }
//  span:nth-child(4) {
//    top: 20px;
//  }
//}

//.menu {
//  list-style-type: none;
//  padding: 0;
//  display: none;
//  li a {
//    display: inline-block;
//    padding: 10px 15px;
//    text-decoration: none;
//  }
//}

@import "media";
